@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --color-fondo: #161616;
  --color-dorado: #D8AD4E;
  --color-blanco: #fff;

  --letra-Playfair: 'Playfair Display', serif;
  --letra-Montserrat: 'Montserrat', sans-serif;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--color-fondo) !important;
}